* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}

.page-header {
  background-color: dimgrey;
  min-height: 5rem;
  display: flex;
  justify-content: space-between;
  min-width: 320px;
}

header > div > img {
  margin: 1rem 1rem;
}

.header-title {
  order: 2;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

.page-header > .back {
  order: 3;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-right: 2rem;
}

a {
  text-decoration: none;
  font-size: 20px;
}

a:visited {
  color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d1d1d1;
  color: black;
}

.container > .lasagna-img {
  margin: 5rem 5rem;
  border-radius: 16px;
}

.bg-color {
  background-color: lightgrey;
}

.container,
.lasagna-img,
.lasagna-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
}

.lasagna-subtext {
  padding: 10px;
  width: 500px;
  height: 200px;
  text-align: justify;
}

.placeholder {
  display: grid;
  grid-template-columns: auto auto;
}

.placeholder > div > p {
  color: rgb(143, 153, 163);
  padding-left: 1rem;
}

.placeholder > div > span {
  padding-left: 1.2rem;
}

.expense,
.difficulty {
  border: 1px solid black;
  border-radius: 12px;
  width: 95px;
  height: 55px;
  display: grid;
  margin-left: 45%;
}
